@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #0D00B5;
  --color-secondary: #bbb;
  --size-border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html,
body {
  color: var(--foreground);
  background: var(--background);

}


.container {
  max-width: 1100px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20PX;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}